{% extends 'basic.html' %}
{% block content %}



<div class="card">
  <div class="card-header"><strong>
    	{{ mess_meu.mess_name }} </strong></br>
      <strong>Price:
		{{ mess_meu.price }}</strong>
  </div>
  <div class="card-body">



<p class="card-text">
<strong>Menu: </strong>{{ mess_meu.mess_menu }}</p>

<p class="card-text">
<strong>Phone: </strong>{{ mess_meu.phone }}
</p>

<p class="card-text">
<strong>Address: </strong>{{ mess_meu.address }}</p>

<p class="card-text">
<strong>Created At: </strong>{{ mess_meu.created_at }}</p>

<p class="card-text">
<strong>ID: </strong>{{ mess_meu.id }}</p>
    
    
  </div>
</div>

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

{% endblock %}